@model _MessagePartial

<div class="p-2 mb-1 d-flex flex-column rounded align-items-end @Model.Styles" style="width: fit-content; min-width: 10%; max-width: 75%;">
    <p class="mb-0 text-wrap">@Model.Message.Content</p>
    <small>@Model.Message.SentAt.Hour:@Model.Message.SentAt.Minute</small>
</div>
