@model Razor_Messenger.Pages.Shared._UserPartial

<a href="#" id="userlist-@Model.Username" class="list-group-item" aria-current="true">
    <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1 nowrap">
            @Model.Username
        </h5>
        @if (Model.LastMessageTime.Hour == 0 && Model.LastMessageTime.Minute == 0)
        {
            <small class="text-muted"></small>
        }
        else
        {
            <small class="text-muted">@Model.LastMessageTime.Hour:@Model.LastMessageTime.Minute</small>
        }
    </div>
    <p class="text-muted mb-1 w-100 nowrap">@Model.LastMessageContent</p>
</a>