@page
@using System.Security.Claims
@model Razor_Messenger.Pages.Messenger
@{
    ViewData["Title"] = "Messenger";
}

<script src="~/js/signalr/dist/browser/signalr.js"></script>
@Html.AntiForgeryToken()

<h1 class="text-center mb-3">Razor Messenger</h1>
<div class="container" style="min-width: 700px;">
    <div class="d-flex justify-content-center align-items-start">
        <div class="col-4 p-0" style="min-width: 300px; max-width: 450px;">
            <div class="container px-2 w-100">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search user..." id="userlist-search-input">
                </div>
                <div id="userlist" class="list-group" style="height: 548px; overflow-y: scroll;">
                    <partial name="_UserPartial" model="Model.Users"/>
                </div>
            </div>
            <input type="hidden" id="sender" value="@base.User.FindFirstValue(ClaimTypes.NameIdentifier)"/>
            <script src="~/js/userList.js?v=9"></script>
        </div>
        <div class="col-7 p-0 px-2 m-0" style="width: 450px;">
            <div class="container p-0 m-0 w-100 d-flex flex-column" style="height: 600px;">
                <div id="messages-area" class="w-100 p-2 m-0 border rounded d-flex flex-column" style="height: 540px; overflow-y: scroll;"></div>
                <div class="w-100 py-2 m-0" style="height: 60px;">
                    <div class="input-group h-100">
                        <input type="text" id="new-message-text" class="form-control" placeholder="Your message...">
                        <input type="button" id="new-message-btn" class="btn btn-primary" value="Send" disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="receiver" value=""/>
<script id="chat-signalrhub" src="~/js/chat.js?v=4"></script>
<script src="~/js/messenger.js?v=9"></script>